.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;

  display: flex;
  justify-content: space-between;
}

.nav-logo {
  position: fixed;
  left: 0;
  width: 80px;
  object-fit: contain;
}

.nav-profile {
  position: fixed;
  width: 30px;
  right: 20px;
  object-fit: contain;
}
